*{
    padding: 0;
    margin: 0;
}

body{
    background-size: cover;
}

.signup{
    float: right;
    border: 2px solid red;
    background-color: beige;
    height: 35em;
    margin-top: 5%;
    margin-right: 2%;
    padding: 30px;
}

.signup h2{
    text-align: center;
}


#signup-button{
    width: 100%;
    height: 2em;
    color: white;
    background-color: dodgerblue;
    border: 1px solid dodgerblue ;
}