*{
    padding: 0;
    margin: 0;
}

body{
    background-size: cover;
}

.container{
    margin-top: 5%;
    background-color: blanchedalmond;
    color: black;
    text-align: justify;
}

h1{
    padding-top: 1%;
    text-align: center;
}

